<html> 
<body> 
    <h3>Income Prediction Form</h3> 
  
<div> 
  <form action="/result" method="POST"> 
    <label for="Application_ID">Application ID  </label> 
    <input type="text" id="Application_ID" name="Application_ID"> 
    <br>
    <label for="Current City">Current City  </label> 
    <input type="text" id="Current City" name="Current City"> 
    <br>
    <label for="Python (out of 3)">Python (out of 3)  </label> 
    <input type="text" id="Python (out of 3)" name="Python (out of 3)">
    <br>
    <label for="R Programming (out of 3)">R Programming (out of 3) </label> 
    <input type="text" id="R Programming (out of 3)" name="R Programming (out of 3)">
    <br>
    <label for="Data Science (out of 3)">Data Science (out of 3)  </label> 
    <input type="text" id="Data Science (out of 3)" name="Data Science (out of 3)">
    <br>
    <label for="Other skills">Other skills  </label> 
    <input type="text" id="Other skills" name="Other skills">
    <br>
    <label for="Institute">Institute  </label> 
    <input type="text" id="Institute" name="Institute">
    <br>
    <label for="Degree">Degree  </label> 
    <input type="text" id="Degree" name="Degree">
    <br>
    <label for="Stream">Stream</label> 
    <input type="text" id="Stream" name="Stream">
    <br>
    <label for="Current Year Of Graduation">Current Year Of Graduation</label> 
    <input type="text" id="Current Year Of Graduation" name="Current Year Of Graduation">
    <br>
    
    <label for="Performance_PG">Performance_PG</label> 
    <input type="text" id="Performance_PG" name="Performance_PG">
    <br>

    <label for="Performance_UG">Performance_UG</label> 
    <input type="text" id="Performance_UG" name="Performance_UG">
    <br>

    <label for="Performance_12">Performance_12</label> 
    <input type="text" id="Performance_12" name="Performance_12">
    <br>

    <label for="Performance_10">Performance_10</label> 
    <input type="text" id="Performance_10" name="Performance_10">
    <br>

    <input type="submit" value="Submit"> 
  </form> 
</div> 
</body> 
</html>